﻿    <li class="item-list-item">
        <a class="item-link" href="%%link%%">
            <img class="item-thumb" src="%%thumb%%" alt="%%name%%" />
            <div class="item-name">%%name%%</div>
        </a>
    </li>    